/* Reset Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis CSS */
:root {
    --cor-primaria: #055a05;
    --cor-secundaria: #f4a261;
    --cor-destaque1: #264653;
    --cor-destaque2: #e9c46a;
    --fonte-titulo: "Times New Roman", "Georgia", serif;
    --fonte-body: Arial, Helvetica, sans-serif;
}

/* Configuração do Corpo */
body {
    font-family: var(--fonte-body);
    color: var(--cor-destaque1);
    background-color: var(--cor-destaque2);
    /* Uso da variável --cor-destaque2 */
}

/* Centralização do Container Principal */
header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    background-color: var(--cor-secundaria);
    /* Uso da variável --cor-secundaria */
}

/* Títulos */
h1,
h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
    text-align: center;
}

/* Espaçamentos Básicos */
nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

/* Removendo sublinhado dos links */
nav a,
footer a,
.socialmedia a,
.redes-sociais a {
    text-decoration: none;
}

/* Estilo da Seção Hero com Sobreposição */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: rgba(38, 70, 83, 0.7);
    color: #ffffff;
}

.hero article {
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 16px;
    border-radius: 8px;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 16px;
    border-radius: 4px;
}

/* Redes Sociais no Rodapé */
.redes-sociais img {
    width: 30px;
    height: auto;
}